body {
	height: 100px;
	background-color: #287ebf; /* For browsers that do not support gradients */
	background-image: linear-gradient(-90deg, #357ee6, #47a5ed);
  }


h1 {
font-family: 'Luckiest Guy';
font-size: 90px;
color: #ed800c;
-webkit-text-stroke: black 0.5px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-image: linear-gradient(-90deg, #357ee6, #47a5ed);
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #009eed;
	color: white;
  }
  
.error a:hover {
	color: red;


}

p {

color: white;

}

p a:hover{

color: red;
font-family: 'Luckiest Guy';

}
