@font-face {
	font-family: myFirstFont;
	src: url(sansation_light.woff);
  }
  
  
  




body {
	height: 100px;
	background-color: black; /* For browsers that do not support gradients */
	background-image: linear-gradient(-90deg, #050C19, #050C19);
  }


h1 {
font-family: 'Luckiest Guy';
font-size: 90px;
color: white;
-webkit-text-stroke: black 0.5px;
}

/* Add a black background color to the top navigation */
.topnav {
	background-image: linear-gradient(-90deg, #050C19, #050C19);
	overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	font-family: 'myFirstFont';
font-weight: bold;

	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
	background-color: #009eed;
	color: white;
  }
  
.error a:hover {
	color: red;


}

p {

color: white;

}




h2 {
	font-family: 'Luckiest Guy';
	font-size: 40px;
	color: white;
	-webkit-text-stroke: grey 0.5px;
	}










/* The alert message box */
.alert {
	padding: 20px;
	background-color: #f44336; /* Red */
	color: white;
	margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
	color: black;
  }



  .space {
	position: relative; /* the default for span */
	width: 100px;
	height: 200px;

  }
  

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
	float: left;
	width: 20%;
	padding: 70px;
  }
  
  /* Clear floats after image containers */
  .row::after {
	content: "";
	clear: both;
	display: table;
  }




.infoslide {
font-family: 'Courier New', Courier, monospace;
font-size: 60px;
color:white;

}



.infoslide h4 {
font-size: 55px;



}







  @media screen and (max-width: 1000px) {

	.column {
		float: left;
		width: 20%;
		padding: 30px;
	  }
	  
	  /* Clear floats after image containers */
	  .row::after {
		content: "";
		clear: both;
		display: table

  }

}
